body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    color: #777;
}


.navbar {
    margin-bottom: 0px;
    border: 0px transparent;
}
.navbar-default {
    background-color: #EA705B;
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #DC5112;
}

html, body { height: 100%; }
body > .content {
    min-height: 100%;
    margin-bottom: -100px;
}


.table > thead > tr > th.thead {
    font-size: large;
    background-color: #EA705B;
    border-radius: 10px 10px 0 0;
    text-align: center;
    border-bottom: none;
}

.carousel-caption {
    color: #EA705B;
    font-size: large;
}

.carousel-control {
    color: #EA705B;
    text-align: center;
    opacity: .5;
    width: 12%;
}
.carousel-control:hover{
    color: #DC5112;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(255,255,255, .0001) 0%, rgb(220, 81, 18) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control.left {
    background-image: linear-gradient(to left, rgba(255,255,255, .0001) 0%, rgb(220, 81, 18) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-indicators .active {
    background-color: #EA705B;
}
.carousel-indicators li {
    border: 1px solid #EA705B;
}

.footer {

    clear: both;
    position: relative;
    color: #777;
    background-color: #EA705B;
}
a {
    color: #777777;
}
a:hover, a:focus {
    color: #777777;
    text-decoration: none;
}
.footer, .content:after {
    min-height: 100px;
}
.content:after {
    content: "";
    display: block;
}
