<div class="row marketing">
    <h1 class="text-center">Hinnat</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="3" class="thead">Kampaamotyöt</th>
        </tr>
        <tr>
            <th></th>
            <th>klo 9-12 tarjous</th>
            <th>normaali</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="kampaamo in kampaamot track by $index">
            <td>{{kampaamo.name}}</td>
            <td>{{kampaamo.tarjous}}€</td>
            <td>{{kampaamo.normal}}€</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="3" class="thead">Väri</th>
        </tr>
        <tr>
            <th></th>
            <th>klo 9-12 tarjous</th>
            <th>normaali</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="vari in varit track by $index">
            <td>{{vari.name}}</td>
            <td>{{vari.tarjous}}€</td>
            <td>{{vari.normal}}€</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="3" class="thead">Hoito</th>
        </tr>
        <tr>
            <th></th>
            <th>klo 9-12 tarjous</th>
            <th>normaali</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hoito in hoitot track by $index">
            <td>{{hoito.name}}</td>
            <td>{{hoito.tarjous}}€</td>
            <td>{{hoito.normal}}€</td>
        </tr>
        </tbody>
    </table>


    <table class="table table-hover">
        <thead>
        <tr>
            <th colspan="3" class="thead">Parturityö</th>
        </tr>
        <tr>
            <th></th>
            <th>9-12 tarjous</th>
            <th>normali</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="parturi in parturit track by $index">
            <td>{{parturi.name}}</td>
            <td>{{parturi.tarjous}}€</td>
            <td>{{parturi.normal}}€</td>
        </tr>
        </tbody>
    </table>
</div>






