
    <div class="row">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.src}}" style="margin:auto;">
          <div class="carousel-caption pull-left" >

            <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>



<div>
  <h2 class="text-center">Hiusrata</h2>
  <p>
    Parturi-kampaamopalvelut vaittomasi ulottuvillasi, Helsingin rautatiaseman kauppakujalla, raiteen 11 vieressa.
  </p>

  <h2 class="text-center">Palvelut</h2>
  <p>
    Olitpa nuori tai vanha, mies tai nainen, meiltä löydät korkealuokkaiset parturi- ja kampaamopalvelut.
  </p>
  <p>
    Hiusten leikkaus, hiusten värjäys, raidat, kampaukset, mallinmuutokset, ripsien ja kulmien värjäys,
    hiusten tehohoito, tässä vain osa palveluistamme. Miesten hiustenleikkaus ilman ajanvarausta sopii
    monelle kiireiselle miehelle. Tutustu kaikkiin palveluihimme hinnastossa.
  </p>
  <p>
    Tule palveltavaksi ja anna koulutetun henkilökuntamme loihtia hiuksiisi uusi ilme!
  </p>

  <p> <strong>PUH. 0400-979 055</strong> Ma-Pe 9-19, La 10-16</p>
  <p>Myös ilman ajanvarausta!</p>
  <p><img src="images/flag-ru.png" class="flag">Говорим по-русски, добро пожаловать!</p>
  <p><img src="images/flag-fi.png" class="flag">Puhumme Suomea,tervetuloa!</p>
  <p><img src="images/flag-en.png" class="flag">We speak English,welcome!</p>
</div>

