
    <div>
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.src}}" style="margin:auto;">
          <div class="carousel-caption pull-left" >

            <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>



<div>
  <h2 class="text-center">Hiusrata</h2>
  <p>
    Parturi-kampaamopalvelut vaittomasi ulottuvillasi, Helsingin rautatiaseman kauppakujalla, raiteen 11 vieressa.
  </p>

  <h2 class="text-center">Palvelut</h2>
  <p>
   Meiltä löydät korkealaatuiset parturi- ja kampaamopalvelut sekä miehille että naisille ja lapsille.
    Tutustu palveluihin tarkemmin hinnastossamme.
  </p>

  <p> <strong>PUH. 0400-979 055</strong> Ma-Pe 9-19, La 10-16</p>
  <p>Myös ilman ajanvarausta!</p>
</div>
