
    <div class="row marketing">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.src}}" style="margin:auto;">
          <div class="carousel-caption pull-left" >

            <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>



<div>
  <h4>Hiusrata</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda, beatae consequatur consequuntur deleniti dignissimos distinctio dolor doloribus dolorum ea eligendi illum iure nemo quia ratione repellat repellendus repudiandae sunt?
  </p>

  <h4>Työt</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis doloremque sapiente sed similique. Beatae cumque deleniti eligendi necessitatibus non obcaecati quo repellendus! A, ad commodi deserunt molestias quod ratione voluptatem.
  </p>

  <h4>Ilman ajanvarausta!</h4>
  <p>ma-pe 9-19 la 10-16</p>
</div>
